{
  "globals": {
    "ga": true,
    "chrome": true
  },
  "plugins": ["html", "json"],
  "extends": "elemefe",
  "rules": {
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "no-console":  "off",
    "generator-star-spacing": [2, {"before": false, "after": true}]
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
