# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist

node_modules
.DS_Store
npm-debug.log
pnpm-debug.log
lerna-debug.log
npm-debug.log.*
pnpm-debug.log.*
lerna-debug.log.*
dist
.idea
.vscode
.npmrc
.envrc
